# Import Agave runtime extensions
. _lib/extend-runtime.sh

# Allow CONTAINER_IMAGE over-ride via local file
#if [ -z "${CONTAINER_IMAGE}" ]
#then
#    if [ -f "./_lib/CONTAINER_IMAGE" ]; then
#        CONTAINER_IMAGE=$(cat ./_lib/CONTAINER_IMAGE)
#    fi
#    if [ -z "${CONTAINER_IMAGE}" ]; then
#        echo "CONTAINER_IMAGE was not set via the app or CONTAINER_IMAGE file"
#        CONTAINER_IMAGE="jurrutia/ubuntu17"
#    fi
#fi

# Usage: container_exec IMAGE COMMAND OPTIONS
#   Example: docker run centos:7 uname -a
#            container_exec centos:7 uname -a
module load tacc-singularity/2.5.2

CONTAINER_IMAGE2="jawon/bisukit:0.1.3"
COMMAND="/usr/bin/python2.7 /home/bisukit/bisukit.py"
#PARAMS=${}
PARAMS=" --ot1 ${ot1} --ot2 ${ot2} --ob1 ${ob1} --ob2 ${ob2} --genome ${genome} --cores 48 --name1 ${input1} --name2 ${input2} --context ${context} --specie ${specie}  "
echo container_exec ${CONTAINER_IMAGE2} ${COMMAND} ${PARAMS}
container_exec ${CONTAINER_IMAGE2} ${COMMAND} ${PARAMS}
